/* static/styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .all {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
    align-items: center;
}

body {
    background-image: url('images/water.png');
    background-size: cover;  /* This makes sure the image covers the entire background */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    background-attachment: fixed;  /* Keeps the background fixed while scrolling */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.all {
    backdrop-filter: blur(10px); /* Apply a blur effect to the background behind the container */
    -webkit-backdrop-filter: blur(10px);
}

main {
    flex: 1;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #5c5c5c;
    transform: scale(1.05);
}

#useServiceButton {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

/* Spinner Styles */
.spinner {
    display: none; 
    position: fixed;
    left: 47%;
    top: 40%;
    border: 16px solid #808080; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 1000; /* Ensure it's on top */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#directionsContainer {
    backdrop-filter: blur(10px); /* Apply a blur effect to the background behind the container */
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 1000px;
}

#directionsContainer h2 {
    color: #ffffff;
    margin-bottom: 15px;
}

#directionsContainer p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ffffff;
}

#directionsContainer ol {
    list-style-type: decimal;
    margin-left: 20px;
    color: #ffffff;
}

#directionsContainer li {
    margin-bottom: 10px;
    color: #ffffff;
}

#formContainer {
    backdrop-filter: blur(10px); /* Apply a blur effect to the background behind the container */
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 1000px;
    text-align: left;
}

#formContainer h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

#formContainer h5 {
    margin: 20px 0 10px;
    color: #ffffff;
}

label {
    display: flex;
    align-items: center; /* Center text vertically */
    font-size: 14px;
    color: #ffffff;
}

input[type="text"],
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #000000;
}

input[type="checkbox"] {
    margin-right: 10px; /* Space between checkbox and label */
    accent-color: #000000; /* Custom color for checkbox */
}

input[type="file"] {
    padding: 3px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #27ae60;
}

button[type="submit"]:hover {
    background-color: #219150;
}

#closeForm {
    background-color: #e74c3c;
    margin-top: 10px;
}

#closeForm:hover {
    background-color: #c0392b;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center content horizontally */
    margin-bottom: 20px; /* Space below rows */
}

.form-row div {
    flex: 1 1 calc(25% - 20px); /* 4 items per row with spacing */
    margin: 10px; /* Space between items */
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.form-row div label {
    text-align: center;
}

.form-row input,
.form-row select {
    flex: 1;
    margin-right: 10px;
}

.form-row input:last-child,
.form-row select:last-child {
    margin-right: 0;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    button {
        width: 100%;
        font-size: 18px;
    }

    #formContainer {
        padding: 15px;
    }

    .form-row {
        flex-direction: column;
    }

    .form-row div {
        flex: 1 1 100%; /* Stack items on small screens */
    }

    .form-row input,
    .form-row select {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #message {
        font-size: 16px;
    }
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Centered vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Adjust based on your preference */
    max-width: 800px; /* Limit max width */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
    text-align: left; /* Left-align the text inside the modal */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Text */
.modal-text {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Modal Text Styles */
.modal-text h1 {
    font-size: 24px; /* Adjust as needed */
    margin-bottom: 15px;
}

.modal-text h2 {
    font-size: 20px; /* Adjust as needed */
    margin-bottom: 10px;
}

.modal-text h3 {
    font-size: 18px; /* Adjust as needed */
    margin-bottom: 10px;
}

.modal-text p {
    font-size: 16px; /* Adjust as needed */
    line-height: 1.6;
}

.modal-text ul, .modal-text ol {
    margin: 10px 0;
    padding-left: 20px;
}

.modal-text li {
    margin-bottom: 10px;
}
  
/* Support Section Styles */
.support {
    padding: 20px; /* Space around the content */
    border-radius: 8px; /* Rounded corners */
    margin: 20px 0; /* Space around the section */
}

.support h2 {
    font-size: 1.5em; /* Larger font size for the heading */
    margin-bottom: 10px; /* Space below the heading */
}

.support p {
    font-size: 1em; /* Standard font size for the paragraph */
    margin-bottom: 10px; /* Space below the paragraph */
}

.support ul {
    list-style-type: none; /* Remove default list style */
    padding: 0; /* Remove default padding */
}

.support li {
    margin-bottom: 8px; /* Space between list items */
}

.support a {
    color: #ffffff; /* Link color */
}

.support a:hover {
    text-decoration: underline; /* Underline on hover for better accessibility */
}

footer {
    backdrop-filter: blur(10px); /* Apply a blur effect to the background behind the container */
    -webkit-backdrop-filter: blur(10px);
    padding: 10px; /* Space around the text */
    text-align: center; /* Center-align the text */
    width: 1000px; 
    color: white;
}

.disclaimer {
    font-size: 0.9em; /* Slightly smaller text */
    color: #ffffff; /* Darker text color for readability */
}
